In [21]:
from taxcalc import *
import pandas as pd
import numpy as np

In [22]:
taxdata = pd.read_csv('cps copy.csv')
weight = pd.DataFrame(taxdata.s006)

In [30]:
recs = Records(taxdata, weights=weight, start_year=2014)
policy = Policy(start_year=2014, num_years=1)
calc = Calculator(records=recs, policy=policy)

recs2 = Records()
policy2 = Policy()
calc2 = Calculator(records=recs2, policy=policy2)

You loaded data for 2009.
Your data have been extrapolated to 2013.

In [31]:
calc.calc_all()
calc2.advance_to_year(2014)
calc2.calc_all()

CPS Calculations

In [32]:
diag1 = utils.create_diagnostic_table(calc)
diag1

                                   2014
Returns (#m)                      163.2
AGI ($b)                        8,724.4
Itemizers (#m)                     13.9
Itemized Deduction ($b)           197.4
Standard Deduction Filers (#m)    130.9
Standard Deduction ($b)         1,210.2
Personal Exemption ($b)         1,105.4
Taxable Income ($b)             6,508.9
Regular Tax ($b)                1,271.6
AMT Income ($b)                 8,609.6
AMT Liability ($b)                  2.7
AMT Filers (#m)                     1.4
Tax before Credits ($b)         1,246.2
Refundable Credits ($b)            21.1
Nonrefundable Credits ($b)         33.7
Reform Surtaxes ($b)                0.0
Ind Income Tax ($b)             1,195.4
Payroll Taxes ($b)                995.7
Combined Liability ($b)         2,191.1

PUF Calculations

In [33]:
diag2 = utils.create_diagnostic_table(calc2)
diag2

                                   2014
Returns (#m)                      165.2
AGI ($b)                        9,697.4
Itemizers (#m)                     43.3
Itemized Deduction ($b)         1,169.0
Standard Deduction Filers (#m)    109.1
Standard Deduction ($b)           949.9
Personal Exemption ($b)         1,139.7
Taxable Income ($b)             6,905.5
Regular Tax ($b)                1,519.8
AMT Income ($b)                 9,090.6
AMT Liability ($b)                 36.0
AMT Filers (#m)                     4.5
Tax before Credits ($b)         1,437.6
Refundable Credits ($b)           100.8
Nonrefundable Credits ($b)         71.7
Reform Surtaxes ($b)                0.0
Ind Income Tax ($b)             1,298.0
Payroll Taxes ($b)                961.9
Combined Liability ($b)         2,259.8

PUF - CPS

In [34]:
diag2 - diag1

                                   2014
Returns (#m)                        2.0
AGI ($b)                          973.1
Itemizers (#m)                     29.4
Itemized Deduction ($b)           971.6
Standard Deduction Filers (#m)    -21.8
Standard Deduction ($b)          -260.2
Personal Exemption ($b)            34.3
Taxable Income ($b)               396.6
Regular Tax ($b)                  248.2
AMT Income ($b)                   481.0
AMT Liability ($b)                 33.4
AMT Filers (#m)                     3.0
Tax before Credits ($b)           191.4
Refundable Credits ($b)            79.7
Nonrefundable Credits ($b)         37.9
Reform Surtaxes ($b)                0.0
Ind Income Tax ($b)               102.5
Payroll Taxes ($b)                -33.8
Combined Liability ($b)            68.7